@import "colors";
@import "mixins";

html {
    height: 100%;

    scroll-behavior: smooth;
}

body {
    display: flex;

    flex-direction: column;

    justify-content: center;

    align-items: center;

    height: 100%;

    margin: 0;

    background-color: $main-background-color;
}